.profiles{
display: block;
justify-content: left;
padding: 20px;
}
.profiles img{
width: 70px;
height: 70px;
object-fit: cover;
border-radius: 50%;
border: 4px solid rgb(229, 85, 85);
padding: 4px;
background: #333;
}
.profiles-wrapper{
max-width: 900px;
margin: 0;
}
@media (max-width:600px) {
    .profiles img{
    width: 75px;
    height: 75px;
    }
}
body{
background-color: #333;
}