*{
box-sizing: border-box;
}

.profiles {
    display: flex;
    justify-content: left;
    gap: 15px;
    padding: 20px;
}

.profiles img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.profiles-wrapper {
    max-width: 900px;
    margin: 0;
}

@media (max-width:600px) {
    .profiles img {
        width: 75px;
        height: 75px;
    }
}

body {
    background-color: #333;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(45deg, red, purple, orange);
    display: flex;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.inner{
width: 100%;
height: 100%;
border-radius: 50%;
background: black;
padding: 3px;
}